@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&display=swap");
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(5rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.heading-primary--main {
  animation-name: moveInLeft;
  animation-duration: 1s;
  animation-timing-function: ease-out; }

.heading-primary--date {
  animation: fadeIn 0.6s ease-out 1.5s;
  animation-fill-mode: backwards; }

.heading-primary--sub {
  animation: moveInRight 1s ease-out 2.5s;
  animation-fill-mode: backwards; }

.btn--animated {
  animation: moveInBottom 0.5s ease-out 0.75s;
  animation-fill-mode: backwards;
  /*applies the style of animation at 0% before animation starts*/ }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }

body {
  padding: 0px;
  margin: 0;
  box-sizing: inherit; }

.global-container {
  display: flex;
  flex-direction: column;
  border: solid 0.5rem goldenrod;
  width: 100%; }

.main-section-container {
  display: flex;
  flex-direction: column; }

.quote-section-container {
  margin-top: 5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%; }

.about-section-container {
  display: flex;
  justify-content: center;
  background-image: url(../images/kungfu.jpeg);
  background-size: auto;
  background-repeat: no-repeat;
  background-size: 100%;
  height: 200rem;
  margin-top: 5rem; }

body {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400px;
  font-size: 1.6rem;
  line-height: 1.4;
  padding: 0px; }

.heading-primary--main {
  display: block;
  font-size: 6rem;
  text-transform: uppercase; }

.heading-primary--date {
  display: block;
  font-size: 3.5rem;
  font-weight: 500;
  margin-bottom: 1.5rem; }

.heading-primary--sub {
  display: block;
  font-size: 2rem;
  text-align: center;
  font-weight: normal;
  margin-bottom: 5rem; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem; }

.u-margin-bottom-medium {
  margin-bottom: 4rem; }

.u-margin-bottom-big {
  margin-bottom: 8rem; }

.btn:link, .btn:visited {
  text-decoration: none;
  padding: 1.5rem 4rem;
  border-radius: 10rem;
  display: inline-block;
  transition: all 0.2s;
  position: relative;
  font-weight: bold; }

.btn--gold {
  background-color: goldenrod;
  color: black; }
  .btn--gold::after {
    background-color: goldenrod; }

.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.btn:active {
  transform: translateY(-0.1rem); }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s; }

.header {
  background-image: linear-gradient(to left, black, rgba(255, 255, 255, 0) 90%), url(../images/banner-pic.png);
  background-size: cover;
  background-position: top;
  height: 95vh;
  clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 95vh);
  z-index: 1; }
  .header__text-box {
    position: absolute;
    top: 40%;
    left: 55%;
    transform: translate(10%, -50%);
    color: white;
    text-align: center; }
  .header__logo {
    width: 15rem; }
    .header__logo-box {
      position: absolute;
      top: 2rem;
      left: 2rem; }
    .header__logo-box:hover .header__logo {
      animation: moveInLeft 1s ease-out; }

.quote-section-container {
  margin-top: 5%; }

.quote-section__box {
  max-width: 50rem;
  margin-right: 10rem;
  display: flex;
  align-items: center;
  flex-direction: column; }

.heading-section {
  margin-top: 1.5rem;
  font-style: italic; }

.quote {
  text-align: center;
  line-height: 150%;
  font-size: 1.9rem; }

.video-box {
  margin-left: 5rem; }

.image-box__photo {
  width: 40rem; }

.movies-section-container {
  position: relative;
  height: 80rem;
  margin-top: 5rem;
  background: rgba(218, 165, 32, 0.2);
  clip-path: polygon(0 0%, 100% 10%, 100% 90%, 0 100%);
  text-align: center; }

.heading-primary__movie {
  transform: translateY(11rem);
  text-transform: uppercase;
  display: inline-block;
  padding: 0.5rem 2rem;
  background-color: rgba(218, 165, 32, 0.8); }

.cta-section-container {
  height: 100rem;
  transform: translateY(-10%);
  display: flex;
  justify-content: center; }

.images {
  width: 60%;
  height: 100%; }
  .images__shannon {
    background-image: url(../../images/portrait.jpeg);
    height: 100%;
    background-size: cover;
    background-position-x: -35rem; }

.description {
  margin-top: 20rem;
  width: 80%;
  height: 60rem;
  display: flex;
  box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.4);
  overflow: hidden; }
  .description__box {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    padding: 0rem 3rem;
    background-image: linear-gradient(to bottom right, yellow, goldenrod); }
    .description__box-overlay {
      background-color: rgba(255, 255, 255, 0.8);
      border-radius: 5px;
      height: 90%;
      margin-bottom: 5rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      padding: 2rem; }
  .description__text {
    font-size: 1.7rem; }

.heading-primary__cta {
  margin-top: 5rem;
  margin-bottom: 3rem;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  display: inline-block;
  padding: 0.5rem 3rem; }

.btn--cta {
  position: absolute;
  z-index: 10;
  bottom: -8rem;
  right: 0rem; }

.background-image {
  position: absolute;
  width: 200%;
  height: auto;
  bottom: -25rem;
  right: -60rem;
  opacity: 0.2; }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 1;
  z-index: -1;
  overflow: hidden;
  mix-blend-mode: overlay; }
  .bg-video__content {
    height: 100%;
    width: 100%;
    object-fit: cover; }

.movie-cards {
  height: 0;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  transform: translateY(20rem); }

.card {
  width: 30rem;
  height: 40rem;
  cursor: pointer; }

.card__picture {
  background-size: cover;
  width: 100%;
  height: 100%;
  transition: all 0.2s ease;
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.8); }
  .card__picture--1 {
    background-image: url(../../images/enter-the-dragon.jpeg); }
  .card__picture--2 {
    background-image: url(../../images/fist-of-fury.jpg); }
  .card__picture--3 {
    background-image: url(../../images/the-way-of-the-dragon.jpg); }

.card__picture:hover {
  transform: scale(1.1);
  outline-offset: 2rem;
  outline: solid 1rem goldenrod; }

.movie-cards:hover .card__picture:not(:hover) {
  transform: scale(0.9); }
