.movies-section-container {
  position: relative;
  height: 80rem;
  margin-top: 5rem;

  background: rgba($color-primary-gold, 0.2);
  clip-path: polygon(0 0%, 100% 10%, 100% 90%, 0 100%);
  text-align: center;
}

.heading-primary {
  &__movie {
    transform: translateY(11rem);
    text-transform: uppercase;
    display: inline-block;
    padding: 0.5rem 2rem;

    background-color: rgba($color-primary-gold, 0.8);
  }
}
