.btn {
  &:link,
  &:visited {
    text-decoration: none;

    padding: 1.5rem 4rem;
    border-radius: 10rem;
    display: inline-block;
    transition: all 0.2s;
    position: relative;
    font-weight: bold;
  }

  &--gold {
    background-color: $color-primary-gold;
    color: $color-primary-black;

    &::after {
      background-color: $color-primary-gold;
    }
  }

  &:hover {
    transform: translateY(-0.3rem);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);

    &::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;
    }
  }

  &:active {
    transform: translateY(-0.1rem);
  }

  &::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s;
  }

  // &--animated {
  //   animation: moveInBottom 0.5s ease-out 0.75s;
  //   animation-fill-mode: backwards; /*applies the style of animation at 0% before animation starts*/
  // }
}
