.movie-cards {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  //////////STYLE THE MOVIE CARDS, CLIP THE VIDEO BACKGROUND INTO SHAPE!!
}
.card {
  &__1 {
  }

  &__2 {
  }
  &__3 {
  }
}
.movie-title {
}

.picture {
  &--1 {
  }
  &--2 {
  }
  &--3 {
  }
}
