*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  padding: 0px;
}

.global-container {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}

.main-section-container {
  display: flex;
}
